* {
   box-sizing: border-box; 
}

html, body {
   background: #f1f1f1;
   background-image: url('/static/bg.jpg');
   background-size: 100vw 100vh;
   background-size: cover;
   font-family: 'Arial', sans-serif;
   line-height: 1.6;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

main {
   flex-grow: 1;
}

img {
   max-width: 100%;
   height: auto;
}

form {
   margin-block-end: 0px;
}

.interfaceblock, .output, .erroroutput {
   width: 80%;
   max-width: 600px;
   margin: 20px auto;
   padding: 20px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.output {
   background-color: #3f3070;
   color: white;
}

.erroroutput {
   height: 300px;
   overflow-x: auto;
   border: 1px solid black;
   text-align: center;
   font-size: 24px;
}

.textinput, .fontinput {
   width: 100%;
   margin-bottom: 20px;
}

.fontlabel {
   font-size: larger;
}

textarea {
   width: 100%;
   padding: 1em;
   border: 1px solid black;
   border-radius: 8px;
   font-family: monospace;
   resize: none;
}

.input-submit {
   background: rgba(155,196,0,1);
   color: white;
   border: none;
   border-radius: 10px;
   padding: 10px;
   font-size: large;
}
.input-submit:hover {
background: rgba(135, 176, 0, 1);
}

.outputheader {
   width: 100%;
   font-size: larger;
}

.result {
   overflow-x: auto;
   overflow-y: auto;
   font-family: monospace;
   background-color: #e3deff;
   color: #3f3070;
   padding: 10px;
   border-radius: 8px;
   height: min-content;
   max-height: 300px;

}

.header, .footer {
   background-color: #8a71c2;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
}

.footer {
   height: fit-content;
}

.footer a {
   color: white;
   text-decoration: underline;
}