<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII art generator</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>

    <header class="header">
        <img src="/static/logo.png" alt="ASCII-art generator">
    </header>

    <main class="content">
        
        <div class="erroroutput">          
            <h1>{{.}}</h1>          
            <a style= "color: black" href="/"> Return to main page. </a> 
        </div>
    </main>
    <footer class="footer">
        <p><a href="https://01.gritlab.ax/intra/gritlab/school-curriculum/ascii-art-web" target="_blank">ascii-art-web</a>: Go curriculum project #3 by <a href="https://01.gritlab.ax/git/obalandi" target="_blank">Oleg Balandin</a> & <a href="https://01.gritlab.ax/git/asuharev" target="_blank">Anastasia Suhareva</a>. November, 2024</p>
    </footer>

</body>
</html>