<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII art generator</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>

    <header class="header">
        <img src="/static/logo.png" alt="ASCII-art generator">
    </header>

    <main class="content">
        <div class="interfaceblock">
            <form action="ascii-art" method="POST">
                <div class="textinput">
                    <label for="ascii-text">Please enter your text here:</label>
                    <textarea id="ascii-text" name="input" required class="input-message" placeholder="Enter text for ASCII art generation..."  rows="8">{{.Input}}</textarea>
                </div>
                <div class="fontinput">
                    Please select font:
                    <label class="fontlabel"><input type="radio" name="banner" value="standard" 
                        {{if eq .Font "standard.txt"}}
                        checked
                        {{end}}
                        > standard</label> &nbsp;
                    <label class="fontlabel"><input type="radio" name="banner" value="shadow"
                        {{if eq .Font "shadow.txt"}}
                        checked
                        {{end}}
                        > shadow</label> &nbsp;
                    <label class="fontlabel"><input type="radio" name="banner" value="thinkertoy" 
                        {{if eq .Font "thinkertoy.txt"}}
                        checked
                        {{end}}
                        > thinkertoy</label>
                </div>

                <button type="submit" class="input-submit">Generate ASCII art</button>
            </form>
        </div>
        <div class="interfaceblock output" {{if eq .Output ""}} style="display: none;"{{end}}>
            <div class="outputheader">
                <b>Generated ASCII Art</b>
            </div>
            <div class="result">
                <pre>{{.Output}}</pre>
            </div>       
        </div>
    </main>
    <footer class="footer">
        <p><a href="https://01.gritlab.ax/intra/gritlab/school-curriculum/ascii-art-web" target="_blank">ascii-art-web</a>: Go curriculum project #3 by <a href="https://01.gritlab.ax/git/obalandi" target="_blank">Oleg Balandin</a> & <a href="https://01.gritlab.ax/git/asuharev" target="_blank">Anastasia Suhareva</a>. November, 2024
        <br>
        <a href="https://01.gritlab.ax/git/obalandi/ascii-art-web/src/branch/master/README.md" target="_blank">Project information</a></p>
    </footer>

</body>
</html>